.editor-page {

}

.DraftEditor-root {
    min-height: 150px;
}

.editor :global(.public-DraftEditor-content) {
    min-height: 140px;
}

.btn-item {
    vertical-align: top;
    border: none;
    border-radius: 0;
    height: 34px;
    line-height: 34px;
}

.btn-item > button {
    border: none;
    border-radius: 0;
}